{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  <div class="intro">
    <div class="bio">
      <div>
        <p>I am a classically trained theoretical physicist who has transitioned into the field of data science and machine learning (ML).</p>
        <p>Currently, I develop software in the AI team for <a href="https://eufs.eusa.ed.ac.uk">EUFS</a> to give an autonomous racecar eyes, however, I spend most of my time studying for my MSc in Data Science from the <a href="https://www.ed.ac.uk">University of Edinburgh</a>.</p>
        <p>My ML interests are all encompassing, but if I was ever convinced to pursue a PhD, it would be in <a href="https://deepmind.com/blog/article/muzero-mastering-go-chess-shogi-and-atari-without-rules">Reinforcement Learning</a>. Some other interests include MLOps, neuro/cognitive science, economics, genomics, and the premier league.</p>
      </div>
    </div>
    <div class="picture">
      <img alt="profile picture of callum" src="{{ '/static/callum.png'|url }}">
    </div>
  </div>

  <div class="index-posts">

    <div class="legend">Blog Posts</div>

    {% for post in this.pagination.items %}
      <a href="{{ post|url }}" class="post">
        <div class="title">{{ post.title }}</div>
        <div class="date">{{ post.pub_date|dateformat('long') }}</div>
      </a>
    {% endfor %}

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}

  </div>

{% endblock %}
